
* {
  	box-sizing: border-box; 
}


.content {
	margin-left: 50%;
	transform: translate(-50%);
	width: 70%;
	background: #AEAEAE;
	margin-top: 5%;
	padding-bottom: 20px;
}

.content h1 {
	width: 100%;
	text-align: center;
	font-size: 3em;
	font-family: "helvetica neue";
	padding: 20px 0 20px 0;
	font-weight: 500;
	text-decoration: underline;
}

.content form {
	width: 100%;
}

.to-do-input {
	margin-left: 12.5%;
	width: 60%;
}

.content button {
	width: 15%;
	margin-left: 5%%;
}

.list-item p,
.list-item input {
	display: inline;
}

.content ol {
	margin-bottom: 20px;
	width: 70%;
	margin-left: 15%;
}

.content li {
	width: 100%;
	background: white;
}

.close-button {
	float: right;
	border: 1px solid black;
	margin: 1px 5% 1px 0;
	text-align: center;
}








