
* {
  	box-sizing: border-box; 
}

body {
	background-image: url("../img/wood-floor.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}

@font-face {
    font-family: aldine;
    src: url("../fonts/Aldine.ttf");
}

.content {
	margin-left: 50%;
	transform: translate(-50%);
	width: 70%;
	height: 90%;
	margin-top: 5%;
	margin-bottom: 5%;
	font-family: "helvetica neue";
}

.content h1 {
	width: 100%;
	text-align: center;
	font-family: aldine;
	font-size: 10em;
	color: #333;
	padding: 20px 0 20px 0;
}

.content form {
	width: 100%;
}

.to-do-input {
	margin-left: 12.5%;
	width: 60%;
}

.submit-button-container {
	display: inline;
	width: 15%;
	padding-left: 5%;
}

.content ol {
	margin-bottom: 20px;
	width: 70%;
	margin-left: 15%;
}

.list-item {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.checkbox {
	width: 2%;
}

.list-item-text {
	margin-left: 3%;
	width: 90%;
	font-weight: 200;
}

.close-button {
	align-self: flex-end;
	border: 1px solid black;
	width: 15px;
	margin-left: 3%;
}









